/* Generics Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.container {
  display: flex;  
  padding: 30px;
  background-color: #ADD8E6;
  justify-content: center;
}

.header {
  display: flex;
  height: 32px;
  background-color: #DAA520;
  flex-basis: 80% ;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  display: flex;
  min-width: 50%;
  justify-content: center;
  align-items: center;
}

.link {
  color: black;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
}

.header-logo {
  align-items: flex-start;
}

.header-login {
  align-items: flex-end;
}

/* First Wrapper */

.first-wrapper{
  display: flex;
  background-color: #00008B;
  justify-content: center;
}

.first-box-pink{
  background-color: #EE82EE;
  width: 65%;
  height: 390px;
  margin: 70px auto;
  border: 2px dashed black;
}

/* Second Wrapper */

/* Third Wrapper */

/* Fourth Wrapper */

/* Fifth Wrapper */

/* Sixth Wrapper */

/* Footer Wrapper */